/* CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
    color: #777;
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* sticky footer styling */

/* https://css-tricks.com/snippets/css/sticky-footer/ */
/* Sticky Footer with calc()*/
.wrapper {
    min-height: calc(100vh - 70px);
  }

  .event-footer {
    height: 50px;
  }
/* End Sticky Footer */

/* General Styling */
.logo {
    font-family: 'Hi Melody', cursive;
    border-bottom: 1px solid gray;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 99;
}

.container-header {
    color: #ffffff;
    background: #7f462c;
}

.display-header {
    color: #ffffff;
    background:#000;
}

.bordered { 
    border-color: #000;
}

.table-header, .label-name, .display-header{
    font-weight: bold;
}

.event-footer{
    padding: 15px 15px;
    font-size:12px;
    color:#ccc;
    text-align:center;
    background:#000;
    height: 50px;
}