header {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
   background-color: black;
   background-position: center;
}


.header-text {
    padding-top: 8%;
	font-size: 25px;
	font: bold;
    color: #F2D7D7;
    font-family: 'Cormorant', serif;
}




.fixed-bottom {
    padding: 2%;
    border-top-color: #F2D7D7;
}