header {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
   background-color: black;
   background-position: center;
}


.header-text {
    padding-top: 8%;
	font-size: 25px;
	font: bold;
    color: white;
    font-family: 'Cormorant', serif;
}
